body{
  background-color: #1e212d;
  color: #eabf9f;
  height: 100vh;
  font-family: "Roboto mono", monospace;
}

#root {
  height: 100%;
}

.App {
  height: 100%;
  text-align: center;
}

.TimerFunctionality{
  font-size: 6rem;
}

.Buttons > Button{
  font-size: 2rem;
  margin: 1rem;
}


/* ------------- ALERTS  STYLES ------------- */

.background-swal {
  color: #DCE5F0;
  background-color: #354352;
  width: 40%;
}

.success-swal {
  width: 30%;
}
