body{
  background-color: #1e212d;
  color: #eabf9f;
  height: 100vh;
  font-family: "Roboto mono", monospace;
}

#root {
  height: 100%;
}

.App {
  height: 100%;
  text-align: center;
}

.TimerFunctionality{
  font-size: 6rem;
}

.Buttons > Button{
  font-size: 2rem;
}

