body{
  background-color: #1e212d;
  color: #eabf9f;
  height: 100vh;
  font-family: "Roboto mono", monospace;
}

#root {
  height: 100%;
}

.App {
  height: 100%;
  text-align: center;
}

.TimerFunctionality{
  font-size: 6rem;
}

.Buttons > Button{
  font-size: 2rem;
  margin: 1rem;
}

.short-break,
.study-time,
.long-break {
  width: 15rem;
  text-align: center;
  letter-spacing: 1px;
  font-size: 17px;
  height: 1.25rem;
}

.short-break,
.study-time{
  margin-bottom: 9px;
}

.general-cycle {
  font-size: 25px;
  margin-bottom: 9px;
}

.sub-cycle {
  font-size: 20px;
  margin-bottom: 9px;
}

.msg-text {
  font-size: 30px;
  margin-bottom: 9px;
}

.timer {
  font-size: 50px;
}