@import url('https://fonts.googleapis.com/css2?family=Kameron&display=swap');

body{
  background-color: #1e212d;
  color: #eabf9f;
  height: 100vh;
  font-family: 'Kameron', serif;
}

#root {
  height: 100%;
}

.box-container {
  margin-top: 80px;
  width: 650px;
  text-align: center;
}

.general-cycle {
  font-size: 25px;
  margin-bottom: 9px;
}

.sub-cycle {
  font-size: 20px;
  margin-bottom: 9px;
}

.msg-text {
  font-size: 50px;
  margin-bottom: 9px;
}

.timer {
  font-size: 100px;
}

button{
  font-family: 'Kameron', serif;
  font-size: 25px;
  padding: 8px;
  width: auto;
  font-weight: 600;
  border: none;
  margin-right: 5px;
  border-radius: 7px;
  background-color: #9a9fb1;
}

.btn-container {
  position: absolute;
  top: 15px;
  left: 100px;
}
