@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300&display=swap');
*{
  font-family: 'Nunito', sans-serif;
}

body {
  margin: 0;
  height: 100vh;
  background-color: #D15555;
  overflow-y: hidden;
  color: #f0f8ff;
}

.room-container {
  height: 90vh;
  border-radius: 10px;
  background-color: #e68686;
  width: 90%;
  margin: auto;
  display: grid;
  margin-top: 3rem;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 10px;
}

.task-container {
  grid-row: 1 / 3;
  grid-column: 2;
  margin: 20px 20px 20px 0;
}

.timer-container{
  border-radius: 10px;
  display: grid;
  text-align: center;
  align-items: center;
  margin: 10px 0 0 10px;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 50px 80px 20px 50px 150px 100px; 
}

.general-cycle {
  font-size: 25px;
  letter-spacing: 3px;
  grid-row: 3 / 4;
  grid-column: 1 / 3;
}

.sub-cycle {
  font-size: 20px;
  letter-spacing: 3px;
  grid-row: 4 / 5;
  grid-column: 1 / 3;
}

.msg-text {
  font-size: 50px;
  font-weight: 600;
  letter-spacing: 3px;
  margin-bottom: 9px;
  grid-column: 1 / 3;
  grid-row: 2 / 3;
}

.timer {
  font-size: 135px;
  font-weight: 600;
  grid-column: 1 / 3;
  grid-row: 5 / 6;
}

.defaults-btn{
  grid-row: 6 / 7;
}


button{
  color: #fcfcfc;
  font-size: 25px;
  padding: 8px;
  width: auto;
  font-weight: 600;
  letter-spacing: 3px;
  border: none;
  margin-right: 5px;
  border-radius: 7px;
  background-color: #D15555;
  cursor: pointer;
} 

.btn-container {
  margin-top: 10px;
  grid-row: 1;
  grid-column: 1 / 3;
}

.chat-container{
  border-radius: 10px;
  grid-column: 1 / 2;
  grid-row: 2 / 3;
  margin: 0 0 10px 10px;
  display: grid;
  grid-template-rows: 40px 1fr 50px;
}

.chat-elements-container{
  margin: 8px 0 0 5px;
}

.input-chat{
  width: 82%;
  border: none;
  border-radius: 5px;
  outline: none;
  height: 30px;
}

.text-area-chat{
  color: black;
  border-radius: 5px;
  background-color: #fff;
  overflow-y: auto;
  height: 270px;
  margin: 0 10px 0 5px;
}

.msg-container>span {
  padding: 5px;
}

.btn-chat{
  font-size: 13px;
  letter-spacing: 1px;
  margin-left: 5px;
}

.chat-header{
  font-size: 25px;
  color: #fff;
  letter-spacing: 3px;
  font-weight: 600;
  margin: 2px 0 0 5px;
}

.input-chat::placeholder {
  color: black;
  font-weight: 600;
  padding: 5px;
  letter-spacing: 1px;
}


.btn-bottom{
  grid-column: 1 / 3;
  grid-row: 6;
}

::-webkit-scrollbar {
  width: 12px;
}
::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
  border-radius: 10px;
}
::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
}



